In [1]:
import pandas as pd
import glob

# I. Load the data

In [2]:
path = 'bike-rental-starter-kit/bike-rental-starter-kit/data/'
weather_data_df = pd.read_csv(path + 'newark_airport_2016.csv')
weather_data_df

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TSUN,WDF2,WDF5,WSF2,WSF5
0,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-01,12.75,NaN,0.00,0.0,0.0,41,43,34,NaN,270,280.0,25.9,35.1
1,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-02,9.40,NaN,0.00,0.0,0.0,36,42,30,NaN,260,260.0,21.0,25.1
2,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-03,10.29,NaN,0.00,0.0,0.0,37,47,28,NaN,270,250.0,23.9,30.0
3,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-04,17.22,NaN,0.00,0.0,0.0,32,35,14,NaN,330,330.0,25.9,33.1
4,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-01-05,9.84,NaN,0.00,0.0,0.0,19,31,10,NaN,360,350.0,25.1,31.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-12-27,13.65,NaN,0.01,0.0,0.0,53,62,40,NaN,270,270.0,29.1,38.0
362,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-12-28,8.28,NaN,0.00,0.0,0.0,41,43,31,NaN,330,330.0,19.9,25.1
363,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-12-29,8.05,NaN,0.36,0.0,0.0,38,45,31,NaN,170,150.0,18.1,25.1
364,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-12-30,14.99,NaN,0.00,0.0,0.0,37,42,32,NaN,270,270.0,25.9,33.1
365,USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",2016-12-31,12.30,NaN,0.00,0.0,0.0,35,44,29,NaN,200,220.0,21.9,28.0

In [3]:
files = glob.glob(path + "*citibike-tripdata.csv")

df_list = []
for f in (files):
    df = pd.read_csv(f)
    df_list.append(df)

citibikes_df = pd.concat(df_list)

citibikes_df.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

# II. Diagnose data

In [4]:
print(weather_data_df.columns)
print(weather_data_df.info())
print(weather_data_df.head(10))
print(len(weather_data_df))
print(weather_data_df[weather_data_df.duplicated()])
# weather_data_df.isna()
print(weather_data_df[weather_data_df['WSF5'].isna()])
print(weather_data_df[weather_data_df['WDF5'].isna()])
# .isna().sum()

missing_values = weather_data_df.isna().sum()
missing_proportion = missing_values / len(weather_data_df) * 100

# Comment:
    # The column name and data type is oke. 
    # PGTM and TSUN columns is all missing value. It need dop them. 
    # WSF5 and WDF5 columns have several missing value. It is MCAR. I think we need fill it by the median value. 
    # There is no duplicated observation here.

Index(['STATION', 'NAME', 'DATE', 'AWND', 'PGTM', 'PRCP', 'SNOW', 'SNWD',
       'TAVG', 'TMAX', 'TMIN', 'TSUN', 'WDF2', 'WDF5', 'WSF2', 'WSF5'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  366 non-null    object
 1   NAME     366 non-null    object
 2   DATE     366 non-null    object
 3   AWND     366 non-null    float64
 4   PGTM     0 non-null      float64
 5   PRCP     366 non-null    float64
 6   SNOW     366 non-null    float64
 7   SNWD     366 non-null    float64
 8   TAVG     366 non-null    int64
 9   TMAX     366 non-null    int64
 10  TMIN     366 non-null    int64
 11  TSUN     0 non-null      float64
 12  WDF2     366 non-null    int64
 13  WDF5     364 non-null    float64
 14  WSF2     366 non-null    float64
 15  WSF5     364 non-null    float64
dtypes: float64(9), int64(4), object(3)
memory usage: 45.9+ KB
None
       STATION                                         NAME        DATE  \
0  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05
5  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-06
6  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-07
7  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-08
8  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-09
9  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-10

    AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2   WDF5  WSF2  \
0  12.75   NaN  0.00   0.0   0.0    41    43    34   NaN   270  280.0  25.9
1   9.40   NaN  0.00   0.0   0.0    36    42    30   NaN   260  260.0  21.0
2  10.29   NaN  0.00   0.0   0.0    37    47    28   NaN   270  250.0  23.9
3  17.22   NaN  0.00   0.0   0.0    32    35    14   NaN   330  330.0  25.9
4   9.84   NaN  0.00   0.0   0.0    19    31    10   NaN   360  350.0  25.1
5   5.37   NaN  0.00   0.0   0.0    28    42    15   NaN   230  250.0  12.1
6   3.36   NaN  0.00   0.0   0.0    35    46    24   NaN    20  360.0   8.9
7   8.05   NaN  0.00   0.0   0.0    38    45    31   NaN    20   30.0  14.1
8   6.71   NaN  0.01   0.0   0.0    44    48    38   NaN    60   70.0  13.0
9  15.43   NaN  1.77   0.0   0.0    53    65    39   NaN   260  270.0  36.0

   WSF5
0  35.1
1  25.1
2  30.0
3  33.1
4  31.1
5  16.1
6  10.1
7  16.1
8  17.0
9  42.9
366
Empty DataFrame
Columns: [STATION, NAME, DATE, AWND, PGTM, PRCP, SNOW, SNWD, TAVG, TMAX, TMIN, TSUN, WDF2, WDF5, WSF2, WSF5]
Index: []
         STATION                                         NAME        DATE  \
32   USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-02-02
329  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-11-25

     AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2  WDF5  WSF2  \
32    3.8   NaN  0.00   0.0   1.2    43    51    32   NaN   350   NaN  11.0
329   4.7   NaN  0.01   0.0   0.0    48    55    45   NaN   220   NaN   8.1

     WSF5
32    NaN
329   NaN
         STATION                                         NAME        DATE  \
32   USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-02-02
329  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-11-25

     AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2  WDF5  WSF2  \
32    3.8   NaN  0.00   0.0   1.2    43    51    32   NaN   350   NaN  11.0
329   4.7   NaN  0.01   0.0   0.0    48    55    45   NaN   220   NaN   8.1

     WSF5
32    NaN
329   NaN

In [5]:
print(citibikes_df.columns)
print(citibikes_df.info())
print(citibikes_df.head(10))
print(len(citibikes_df))
# .isna().sum()

missing_values = citibikes_df.isna().sum()
missing_proportion = missing_values / len(citibikes_df) * 100
print(missing_proportion)

# Comment:
    # Column name is oke. 
    # The User Type and Birth Year columns have missing values. User type will fill by Customer value Birth year will fill by median value. 
    # The data type of the year column is not true. 
    # There is no duplicated observation here.

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 247584 entries, 0 to 15113
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Trip Duration            247584 non-null  int64
 1   Start Time               247584 non-null  object
 2   Stop Time                247584 non-null  object
 3   Start Station ID         247584 non-null  int64
 4   Start Station Name       247584 non-null  object
 5   Start Station Latitude   247584 non-null  float64
 6   Start Station Longitude  247584 non-null  float64
 7   End Station ID           247584 non-null  int64
 8   End Station Name         247584 non-null  object
 9   End Station Latitude     247584 non-null  float64
 10  End Station Longitude    247584 non-null  float64
 11  Bike ID                  247584 non-null  int64
 12  User Type                247204 non-null  object
 13  Birth Year               228585 non-null  float64
 14  Gender                   247584 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 30.2+ MB
None
   Trip Duration           Start Time            Stop Time  Start Station ID  \
0            362  2016-01-01 00:02:52  2016-01-01 00:08:54              3186
1            200  2016-01-01 00:18:22  2016-01-01 00:21:42              3186
2            202  2016-01-01 00:18:25  2016-01-01 00:21:47              3186
3            248  2016-01-01 00:23:13  2016-01-01 00:27:21              3209
4            903  2016-01-01 01:03:20  2016-01-01 01:18:24              3195
5            883  2016-01-01 01:03:28  2016-01-01 01:18:11              3195
6            445  2016-01-01 01:07:45  2016-01-01 01:15:11              3186
7            192  2016-01-01 01:18:51  2016-01-01 01:22:03              3211
8            409  2016-01-01 01:23:44  2016-01-01 01:30:34              3187
9            285  2016-01-01 01:25:12  2016-01-01 01:29:57              3187

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0      Grove St PATH               40.719586               -74.043117
1      Grove St PATH               40.719586               -74.043117
2      Grove St PATH               40.719586               -74.043117
3       Brunswick St               40.724176               -74.050656
4            Sip Ave               40.730743               -74.063784
5            Sip Ave               40.730743               -74.063784
6      Grove St PATH               40.719586               -74.043117
7         Newark Ave               40.721525               -74.046305
8          Warren St               40.721124               -74.038051
9          Warren St               40.721124               -74.038051

   End Station ID  End Station Name  End Station Latitude  \
0            3209      Brunswick St             40.724176
1            3213    Van Vorst Park             40.718489
2            3213    Van Vorst Park             40.718489
3            3203     Hamilton Park             40.727596
4            3210    Pershing Field             40.742677
5            3210    Pershing Field             40.742677
6            3203     Hamilton Park             40.727596
7            3203     Hamilton Park             40.727596
8            3214  Essex Light Rail             40.712774
9            3214  Essex Light Rail             40.712774

   End Station Longitude  Bike ID   User Type  Birth Year  Gender
0             -74.050656    24647  Subscriber      1964.0       2
1             -74.047727    24605  Subscriber      1962.0       1
2             -74.047727    24689  Subscriber      1962.0       2
3             -74.044247    24693  Subscriber      1984.0       1
4             -74.051789    24573    Customer         NaN       0
5             -74.051789    24442    Customer         NaN       0
6             -74.044247    24510  Subscriber      1988.0       2
7             -74.044247    24625  Subscriber      1980.0       1
8             -74.036486    24429  Subscriber      1990.0       1
9             -74.036486    24407  Subscriber      1988.0       2
247584
Trip Duration              0.000000
Start Time                 0.000000
Stop Time                  0.000000
Start Station ID           0.000000
Start Station Name         0.000000
Start Station Latitude     0.000000
Start Station Longitude    0.000000
End Station ID             0.000000
End Station Name           0.000000
End Station Latitude       0.000000
End Station Longitude      0.000000
Bike ID                    0.000000
User Type                  0.153483
Birth Year                 7.673759
Gender                     0.000000
dtype: float64


# III. Cleaning data.

In [31]:
# It not true. Because it assigned a new series of different length to the dataframe. 
# citibikes_df['Birth Year'] = citibikes_df[citibikes_df['Birth Year'].notna()]['Birth Year'].astype(int)
# citibikes_df['Birth Year'] = citibikes_df['Birth Year'].apply(lambda x: int(x) if not pd.isna(x) else x)

# Ensure 'Birth Year' column is of integer type with NA support
citibikes_df['Birth Year'] = citibikes_df['Birth Year'].astype('Int64')

# Fill NaN values
citibikes_df = citibikes_df.fillna(
    value={
        'User Type': 'Customer',
        'Birth Year': citibikes_df['Birth Year'].median()
    }
)

# Convert 'Start Time' and 'Stop Time' to datetime
citibikes_df['Start Time'] = pd.to_datetime(citibikes_df['Start Time'])
citibikes_df['Stop Time'] = pd.to_datetime(citibikes_df['Stop Time'])

TypeError: <class 'datetime.time'> is not convertible to datetime

In [30]:
weather_data_df.drop(['TSUN','PGTM','STATION','NAME'], axis=1, inplace=True)

weather_data_df.fillna(
    value = {
        'WSF5': weather_data_df['WSF5'].median(),
        'WDF5': weather_data_df['WDF5'].median(),
    },
    inplace = True
) 

weather_data_df =  weather_data_df.astype({'DATE': 'datetime64[ns]'})

weather_data_df.head()

KeyError: "['TSUN', 'PGTM', 'STATION', 'NAME'] not found in axis"

# IV.Data transform

In [39]:
# print(citibikes_df.head(10))
# start_t = citibikes_df['Start Time'].str.split(' ', expand=True)
# stop_t = citibikes_df['Stop Time'].str.split(' ', expand=True)

# assigned_data = {
#     'Start Date': start_t[0],
#     'Start Time': start_t[1],
#     'Stop Date':  stop_t[0],
#     'Stop Time' : stop_t[1],
# }

# citibikes_df.assign(**assigned_data)

# citibikes_df['Start Date'] = citibikes_df['Start Time'].dt.date
# citibikes_df['Stop Date'] = citibikes_df['Stop Time'].dt.date

# citibikes_df['Start Time'] = citibikes_df['Start Time'].dt.time
# citibikes_df['Stop Time'] = citibikes_df['Stop Time'].dt.time

pd.to_datetime(citibikes_df['Stop Date']).dt.year.value_counts()

# citibikes_df.head(5)

2016    247584
Name: Start Date, dtype: int64

# V.Create database

## 1.Connection establishment

In [10]:
from sqlalchemy import create_engine, text
from dotenv import dotenv_values
from sqlalchemy.engine import URL

config = dotenv_values(".env") 

url_object = URL.create(
    config['POSTGRES_ASYNC_PREFIX'],
    username=config['POSTGRES_USER'],
    password=config['POSTGRES_PASSWORD'],
    host=config['POSTGRES_SERVER'],
    database=config['POSTGRES_DB']
)

engine = create_engine(url_object)
print(engine)

Engine(postgresql+psycopg2://postgres:***@localhost/Bike_rental_data_management)

## 2.Create the database

In [11]:
# Delete the existing table.

drop_tables = """
DROP TABLE IF EXISTS Fact_Trip;
DROP TABLE IF EXISTS Dim_Weather_Data;
DROP TABLE IF EXISTS Dim_Station;
DROP TABLE IF EXISTS Dim_Bike;
DROP TABLE IF EXISTS Dim_User;
"""


create_table = """
CREATE TABLE Dim_Station (
    Station_id SERIAL PRIMARY KEY,
    Station_name VARCHAR(255),
    Station_latitude FLOAT,
    Station_longitude FLOAT
);

CREATE TABLE Dim_Bike (
    Bike_id SERIAL PRIMARY KEY
);

CREATE TABLE Dim_User (
    User_id SERIAL PRIMARY KEY,
    User_Type VARCHAR(255),
    Birth_Year INTEGER,
    Gender VARCHAR(10)
);

CREATE TABLE Fact_Trip (
    Trip_id SERIAL PRIMARY KEY,
    Trip_duration INT,
    Start_date DATE,
    Stop_date DATE,
    Start_station INT,
    Stop_station INT,
    Bike_id INT,
    Start_time TIME,
    Stop_time TIME,
    User_id SERIAL
);

CREATE TABLE Dim_Weather_Data (
    Date DATE PRIMARY KEY,
    AWND FLOAT,
    PRCP FLOAT,
    SNOW FLOAT,
    SNWD FLOAT,
    TAVG FLOAT,
    TMAX FLOAT,
    TMIN FLOAT,
    WDF2 FLOAT,
    WDF5 FLOAT,
    WSF2 FLOAT,
    WSF5 FLOAT
);

alter table fact_trip
add constraint FK_fact_trip_to_dim_station foreign key (start_station) references dim_station(station_id);

alter table fact_trip
add constraint FK_fact_trip_stop_station_to_dim_station foreign key (stop_station) references dim_station(station_id);

alter table fact_trip
add constraint FK_fact_trip_bike_id_to_dim_bike foreign key (bike_id) references dim_bike(bike_id);

alter table fact_trip
add constraint FK_fact_trip_user_id_to_dim_user foreign key (user_id) references dim_user(user_id);

alter table fact_trip
add constraint FK_fact_trip_start_date_to_dim_start_date foreign key (start_date) references dim_weather_data(date);

alter table fact_trip
add constraint FK_fact_trip_stop_date_to_dim_stop_date foreign key (stop_date) references dim_weather_data(date);

"""

with engine.connect() as connection:
    connection.execute(text(drop_tables))
    connection.execute(text(create_table))

## 3.Insert data from dataframe to the database

In [12]:
# Insert data into Dim_bike table

citibikes_df[citibikes_df['Birth Year'].isna()]

Bike_df =  pd.DataFrame(citibikes_df['Bike ID']).drop_duplicates()

Bike_df.columns = ['bike_id']

Bike_df.to_sql('dim_bike', engine, if_exists='append', index=False)

# Insert data into Dim_User table.

user_df = citibikes_df[['User Type','Birth Year', 'Gender']].drop_duplicates()
user_df['user_id'] = range(1, len(user_df) + 1)

user_df.rename(columns={
        'User Type': 'user_type',
        'Birth Year': 'birth_year',
        'Gender': 'gender'
            }, inplace=True)
user_df.columns
user_df.to_sql('dim_user', engine, if_exists='append', index=False)

# Insert data into Dim_bike table Dim_Station

start_station_df =  citibikes_df[['Start Station ID', 'Start Station Name', 'Start Station Latitude','Start Station Longitude']].drop_duplicates()
end_station_df =  citibikes_df[['End Station ID', 'End Station Name', 'End Station Latitude','End Station Longitude']].drop_duplicates()
end_station_df.rename(columns={
    'End Station ID': 'Start Station ID', 
    'End Station Name': 'Start Station Name',
    'End Station Latitude': 'Start Station Latitude',
    'End Station Longitude': 'Start Station Longitude'
}, inplace=True)

station_df = pd.concat([end_station_df, start_station_df]).drop_duplicates()

station_df.rename(columns={
    'Start Station ID': 'station_id',
    'Start Station Name': 'station_name',
    'Start Station Latitude': 'station_latitude',
    'Start Station Longitude': 'station_longitude'
}, inplace=True)

station_df.to_sql('dim_station', engine, if_exists='append', index=False)

# Insert data into Dim_bike table dim_weather_data 
weather_df = weather_data_df.drop_duplicates()

weather_df.rename(columns={
    'DATE': 'date',
    'AWND': 'awnd',
    'PRCP': 'prcp',
    'SNOW': 'snow',
    'SNWD': 'snwd',
    'TAVG': 'tavg',
    'TMAX': 'tmax',
    'TMIN': 'tmin',
    'WDF2': 'wdf2',
    'WDF5': 'wdf5',
    'WSF2': 'wsf2',
    'WSF5': 'wsf5'
}, inplace= True)
weather_df.to_sql('dim_weather_data', engine, if_exists='append', index=False)

# Insert data into Dim_bike table Fact_trip
trip_df = citibikes_df[['Trip Duration','Start Date', 'Stop Date', 'Start Time', 'Stop Time', 'Start Station ID', 'End Station ID', 'Bike ID', 'User Type', 'Birth Year', 'Gender']]
trip_df = trip_df.rename(columns={
    'Trip Duration': 'trip_duration',
    'Start Date': 'start_date',
    'Stop Date': 'stop_date',
    'Start Time': 'start_time',
    'Stop Time': 'stop_time',
    'Start Station ID': 'start_station',
    'End Station ID': 'stop_station',
    'Bike ID': 'bike_id'
    })

final_trip_df = pd.merge(
                    left = trip_df,
                    right = user_df,
                    left_on  = ['User Type', 'Birth Year', 'Gender'],
                    right_on = ['user_type','birth_year','gender'],
                    how = 'inner'
)
final_trip_df.drop(['User Type', 'Birth Year', 'Gender', 'user_type','birth_year','gender'], axis = 1, inplace=True)
final_trip_df['trip_id'] = range(1, len(final_trip_df) + 1)
final_trip_df.to_sql('fact_trip', engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "fact_trip" violates foreign key constraint "fk_fact_trip_stop_date_to_dim_stop_date"
DETAIL:  Key (stop_date)=(2017-01-01) is not present in table "dim_weather_data".

[SQL: INSERT INTO fact_trip (trip_duration, start_date, stop_date, start_time, stop_time, start_station, stop_station, bike_id, user_id, trip_id) VALUES (%(trip_duration)s, %(start_date)s, %(stop_date)s, %(start_time)s, %(stop_time)s, %(start_station)s, %(stop_station)s, %(bike_id)s, %(user_id)s, %(trip_id)s)]
[parameters: ({'trip_duration': 362, 'start_date': datetime.date(2016, 1, 1), 'stop_date': datetime.date(2016, 1, 1), 'start_time': datetime.time(0, 2, 52), 'stop_time': datetime.time(0, 8, 54), 'start_station': 3186, 'stop_station': 3209, 'bike_id': 24647, 'user_id': 1, 'trip_id': 1}, {'trip_duration': 452, 'start_date': datetime.date(2016, 1, 3), 'stop_date': datetime.date(2016, 1, 3), 'start_time': datetime.time(16, 25, 48), 'stop_time': datetime.time(16, 33, 21), 'start_station': 3209, 'stop_station': 3185, 'bike_id': 24662, 'user_id': 1, 'trip_id': 2}, {'trip_duration': 227, 'start_date': datetime.date(2016, 1, 3), 'stop_date': datetime.date(2016, 1, 3), 'start_time': datetime.time(17, 11, 56), 'stop_time': datetime.time(17, 15, 43), 'start_station': 3211, 'stop_station': 3203, 'bike_id': 24633, 'user_id': 1, 'trip_id': 3}, {'trip_duration': 263, 'start_date': datetime.date(2016, 1, 3), 'stop_date': datetime.date(2016, 1, 3), 'start_time': datetime.time(18, 18, 14), 'stop_time': datetime.time(18, 22, 38), 'start_station': 3203, 'stop_station': 3211, 'bike_id': 24633, 'user_id': 1, 'trip_id': 4}, {'trip_duration': 497, 'start_date': datetime.date(2016, 1, 3), 'stop_date': datetime.date(2016, 1, 3), 'start_time': datetime.time(22, 11, 25), 'stop_time': datetime.time(22, 19, 43), 'start_station': 3186, 'stop_station': 3209, 'bike_id': 24597, 'user_id': 1, 'trip_id': 5}, {'trip_duration': 481, 'start_date': datetime.date(2016, 1, 4), 'stop_date': datetime.date(2016, 1, 4), 'start_time': datetime.time(19, 4, 6), 'stop_time': datetime.time(19, 12, 8), 'start_station': 3220, 'stop_station': 3210, 'bike_id': 24558, 'user_id': 1, 'trip_id': 6}, {'trip_duration': 327, 'start_date': datetime.date(2016, 1, 4), 'stop_date': datetime.date(2016, 1, 4), 'start_time': datetime.time(19, 11, 39), 'stop_time': datetime.time(19, 17, 7), 'start_station': 3211, 'stop_station': 3203, 'bike_id': 24559, 'user_id': 1, 'trip_id': 7}, {'trip_duration': 243, 'start_date': datetime.date(2016, 1, 4), 'stop_date': datetime.date(2016, 1, 4), 'start_time': datetime.time(20, 50, 36), 'stop_time': datetime.time(20, 54, 40), 'start_station': 3203, 'stop_station': 3211, 'bike_id': 24435, 'user_id': 1, 'trip_id': 8}  ... displaying 10 of 247584 total bound parameter sets ...  {'trip_duration': 990, 'start_date': datetime.date(2016, 12, 10), 'stop_date': datetime.date(2016, 12, 10), 'start_time': datetime.time(7, 16, 18), 'stop_time': datetime.time(7, 32, 48), 'start_station': 3269, 'stop_station': 3184, 'bike_id': 24569, 'user_id': 193, 'trip_id': 247583}, {'trip_duration': 122, 'start_date': datetime.date(2016, 12, 10), 'stop_date': datetime.date(2016, 12, 10), 'start_time': datetime.time(7, 36, 56), 'stop_time': datetime.time(7, 38, 58), 'start_station': 3184, 'stop_station': 3183, 'bike_id': 24569, 'user_id': 193, 'trip_id': 247584})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

# VI. Create the views.